<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="paragraph message">We are an organization of individuals with a passion for photography. We aim to be a dedicated resource and community for photographers in the state.</h1>
      <div id="captioned-gallery">
        <figure class="slider">
          <figure>
            <img src="images/slides/aslide3.jpg" alt />
            <figcaption>Kate and Kendal: two sisters stop for a picture during a wedding rehersal</figcaption>
          </figure>
          <figure>
            <img src="images/slides/aslide4.jpg" alt />
            <figcaption>Father and (brand new) daughter</figcaption>
          </figure>
          <figure>
            <img src="images/slides/aslide5.jpg" alt />
            <figcaption>Lila smiles for her closeup</figcaption>
          </figure>
          <figure>
            <img src="images/amain_slide_3.jpg" alt />
            <figcaption>Wildflowers grow alongside a state trail on a summer afternoon near Prescott, WI</figcaption>
          </figure>
          <figure>
            <img src="images/slides/aslide3.jpg" alt />
            <figcaption>Kate and Kendal: two sisters stop for a picture during a wedding rehersal</figcaption>
          </figure>
        </figure>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3><a href="#/portfolio" role="button">A nonprofit for photographers</a></h3>
      <div class="paragraph">
        We're a small but growing group of Wisconsinites with a passion for photography, dedicated to helping and connecting freelancers, artists, and small photography outfits throughout the state
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3><a href="#/services" role="button">An invaluable set of resources</a></h3>
      <div class="paragraph">
        We want your business to thrive, so we offer everything from how-to guides, to free or low cost promotion. We also welcome our members to communicate with each other, sharing knowledge and resources.
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3><a href="#/contact" role="button">Join the family</a></h3>
      <div class="paragraph">
        Almost everything we have to offer is free of charge, and there are no membership fees, endless emails, or major obligations to worry about. We know your time is sacred. Come be a part of an organization that, like you, is passionate about the art of photography.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="paragraph">
        <button class="btn btn-danger btn-lg button" data-ng-click="openContact()" style="width: 240px;">Contact us</button>
      </div>
    </div>
  </div>
</div>


<!--
<div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="images/main_image.jpg" alt />
      <figcaption>Waves pummel the walkway out to the lighthouse in Manitowoc, WI, on the shores of Lake Michigan</figcaption>
    </figure>
    <figure>
      <img src="images/main_slide_3.jpg" alt />
      <figcaption>Wildflowers grow alongside a state trail on a summer afternoon near Prescott, WI</figcaption>
    </figure>
    <figure>
      <img src="images/main_slide_2.jpg" alt />
      <figcaption>A persistant plant pushes its way out from the rock walls surrounding Devil's Lake, in Baraboo, WI</figcaption>
    </figure>
    <figure>
      <img src="images/main_slide_4.jpg" alt />
      <figcaption>Train tracks lead off into the distance just north of Manitowoc, WI</figcaption>
    </figure>
    <figure>
      <img src="images/main_image.jpg" alt />
      <figcaption>Waves pummel the walkway out to the lighthouse in Manitowoc, WI, on the shores of Lake Michigan</figcaption>
    </figure>
  </figure>
</div>
-->