<breadcrumbs></breadcrumbs>
<div class="animated fadeIn" data-ng-hide="loadingPortfolio">
  <div class="page-header">
    <h1>Who we are</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="message">
        Wisconsin Photography is an organization for photographers, by photographers.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3>About us</h3>
      <div class="paragraph">
        We started as a services business in 2012, but as much of our business turned into more media driven services (video, audio, digital design), and as we talked to fellow photographers and begin to grow a following on social media, we realized what a great need there was for a one-stop-source for resources for Wisconsin photographers.
      </div>
      <div class="paragraph">
        In 2015 we started plans to shift from offering services to customers, to being a service for photographers, and the response has been incredible. As the community grows, so does the strength of the organization, and the richness of <a href="#/services">resources</a> provided. 
      </div>
      <div class="paragraph">
        We want to help your business be successful, and we believe sharing resources and knowledge is the best way to do that. We are even planning a regular TV show on state-wide public access channels that will highlight individual photographers and their work (stay tuned for more on that). 
      </div>
      <div class="paragraph">
        Our services business, <a href="http://www.portitude.com">Portitude Media</a> will eventually make commercials and radio ads available to Wisconsin Photography members at a reduced cost.
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Member Requirements</h3>
      <div class="paragraph">
        <ul class="list-group">
          <li class="list-group-item">Members must reside in the state of Wisconsin, or perform most of their services in the state.</li>
          <li class="list-group-item">A willingness to share examples from their portfolio from time to time.</li>
          <li class="list-group-item">If a photographer has a website, a link back to the Wisconsin Photography site is requested.</li>
          <li class="list-group-item">Volunteerism isn’t a requirement, but always welcome</li>
        </ul>
      </div>
    </div>
  </div>
      
      <!--<image-desc url="{{displayImg.path}}" class="animated bounce">
        {{displayImg.desc}}
      </image-desc>
      <div class="clearfix">
        <div style="position:relative; width:100px; height: 80px; float:left; margin:.5em .5em 0 0;" data-ng-repeat="pic in portfolio">
          <a href class="thumbnail" data-ng-click="setDisplayImg($index)"><img data-ng-src="{{pic.path}}" style="width:90px;" /></a>
        </div>
      </div>-->
    
      
</div>
<!--
<div class="paragraph clearfix" style="position:relative; top:0;">
    <div style="position:relative; width:100px; height: 80px; float:left; margin:.3em .3em 0 0;">
      <a href data-ng-click="setDisplayImg('main_image.jpg')"><img src="../../images/main_image.jpg" style="width:100px;" /></a>
    </div>
    <div style="position:relative; width:100px; height: 80px; float:left; margin:.3em .3em 0 0;">
      <a href data-ng-click="setDisplayImg('main_slide_2.jpg')"><img src="../../images/main_slide_2.jpg" style="width:100px;" /></a>
    </div>
    <div style="position:relative; width:100px; height: 80px; float:left; margin:.3em .3em 0 0;">
      <a href data-ng-click="setDisplayImg('main_slide_3.jpg')"><img src="../../images/main_slide_3.jpg" style="width:100px;" /></a>
    </div>
    <div style="position:relative; width:100px; height: 80px; float:left; margin:.3em .3em 0 0;">
      <a href data-ng-click="setDisplayImg('main_slide_4.jpg')"><img src="../../images/main_slide_4.jpg" style="width:100px;" /></a>
    </div>
  </div>
  
-->