<breadcrumbs></breadcrumbs>
<div class="animated fadeIn">
  <div class="page-header">
    <h1>What we offer</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="message">
        We want our members' businesses to thrive. As our member base grows, so does our knowledge power, our collection of resources, and leverage with those looking for photographers like you.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Knowledge</h3>
      <div class="paragraph">
        <img src="images/camerapic2.jpg" style="width:100%" />
        <ul class="list-group">
          <li class="list-group-item">Technical and stylistic guides</li>
          <li class="list-group-item">Resource lists of coordinators, planners, and other services in your area</li>
          <li class="list-group-item">Advice from industry professionals</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Promotional</h3>
      <div class="paragraph">
        <img src="images/vidpic.jpg" style="width:100%" />
        <ul class="list-group">
          <li class="list-group-item">Directory links to your online presence</li>
          <li class="list-group-item">Regular highlights of individual members on the web and social media</li>
          <li class="list-group-item">Help with designing logos, business cards, and more</li>
          <li class="list-group-item">Low cost digital ads and commercials/promos</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Community</h3>
      <div class="paragraph">
        <img src="images/bizpic.jpg" style="width:100%" />
        <ul class="list-group">
          <li class="list-group-item">The Photographers Forum (coming soon)</li>
          <li class="list-group-item">Private group on Facebook</li>
          <li class="list-group-item">Annual gala and awards fest (coming eventually!)</li>
        </ul>
      </div>
    </div>
  </div>
</div>